

	<%= f.label :email, label_html: {maxlength: 15, size: 20} %>
	<div class="session-form">
		<%= f.text_field :email, text_field_html: {maxlength: 15, size: 20}, placeholder: "Enter Email", class: 'form-text' %>
	</div>
	<%= f.label :password, label_html: {maxlength: 15, size: 20} %>
	<%= link_to "(forgot password?)", new_password_reset_path, id:"signup" %>
	<div class="session-form">
		<%= f.password_field :password, password_field_html: {maxlength: 15, size: 20}, placeholder: "Enter Password", class: 'form-text' %>
	</div>

	


