<% provide(:title, "Sign in") %>
<div class="jumbotron jumbotron-fluid">	
	<h1>Welcome</h1>
	<p id="account">Please login here</p>
</div>

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-5">
		<ul class="list-group">
			<li class="list-group-item">
				<%= form_for(:session, url: sessions_path) do |f| %> 
					<% if flash[:notice] %>
    					<div class="notice"><%= flash[:notice] %></div>
 					<% end %>
					<%= render 'shared/login_errors' %>
					<%= render 'field', f: f %>
				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
				<% end %>
			</li>
		</ul>
		<p>New User? <%= link_to "Sign up now!", signup_path, id:"signup" %></p>
	</div>
</div>