
			<tbody>
				<tr>
					<th scope="row"><%= link_to device.user.name, device.user, id:"signup" %></th>
					<td><%= device.category %></td>
					<td><%= device.make %></td>
					<td><%= device.model %></td>
					<td><%= device.serial %></td>
					<td><%= device.created_at %></td>
					<td><%= time_ago_in_words(device.created_at) %> old</td>
				</tr>
			</tbody>
