<% provide(:title, "Edit Device") %>
<% if signed_in? %>
	<div class="jumbotron jumbotron-fluid">	
		<h1>Update Device</h1>
		<p id="account">Update your device details here</p>
	</div>

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-5">
			<ul class="list-group">
				<li class="list-group-item">
					<%= form_for(@device) do |f| %> 
						<%= render 'shared/flash' %>
						<%= render 'shared/device_errors' %>
						<%= render 'shared/device_form', f: f %>
					<%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
<% end %>