<%= provide(:title, (User.new).name) %>
<div class="row">
	<div class="col-sm-3"><%= image_tag @user.avatar.url %></div>
	<div class="col-sm-6">
		<table class="table table-borderless">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Department</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row"><%= @user.name %></th>
					<td><%= @user.email %></td>
					<td><%= @user.department %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-8">
		<% if @user.devices.any? %>
			<h2 id="aboutus"> Device Inventory List for <%= @user.name %></h2>
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Created by</th>
						<th scope="col">Type</th>
						<th scope="col">Make</th>
						<th scope="col">Model</th>
						<th scope="col">Serial</th>
						<th scope="col">Created at</th>
						<th scope="col">Age</th>
					</tr>
				</thead>
				<%= render @devices %>
				<%= will_paginate @devices %>
			</table>
		<% end %> 
	</div>
</div>