<% provide(:title, 'Device Users') %>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<%= form_tag @customer, class: 'card card-sm', method: :get do %>
					
					<div class="card-body row no-gutters align-items-center">
						<div class="col-auto">
							<%= icon('fas', 'search', class: 'strong h5 search-ico') %>
						</div>
						<div class="col">
							<%= text_field_tag :query, params[:query], class: 'form-control form-control-sm form-control-borderless', placeholder: "Find ..." %>
						</div>
						<div class="col-auto">
							<%= submit_tag "Search", class: 'btn btn-primary btn-sm search-buttn' %>
						</div>
					</div>	
					<%= render 'shared/search_customer'%>				
				<% end %>
		<%= render 'customers_list' %>
		<div class="block_pagination">
			<div class="page_info">
				<%= page_entries_info @customers %>
			</div>	
		<%= will_paginate @customers, id: "signup", class:"pagination pagination-bg" %>
		</div>		
	</div>

</div>